* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background: #fff;
    color: #111;
    padding: 40px;
}

.container {
    max-width: 700px;
    margin: auto;
}

h1 {
    margin-bottom: 30px;
    font-size: 28px;
}

input,
select,
button {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #111;
    background: #fff;
    font-family: monospace;
}

button {
    cursor: pointer;
}

button:hover {
    background: #111;
    color: #fff;
}

.card {
    border: 1px solid #111;
    padding: 20px;
    margin-top: 20px;
}

.timeline-item {
    margin-bottom: 10px;
}